#save {
    position: absolute;
    width: 328px;
    height: 40px;
    bottom: 2.5px;
    left: 2.5px;
    border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -ms-border-radius: 0 0 30px 30px;
    -o-border-radius: 0 0 30px 30px;
    font-size: 0.8em;
    background-color: #FF9500;
}