div.screen__buttons__number > button {
    width: 17vw;
    height: 11vh;
    font-size: 1em;
    padding: 0;
    margin-left: 1px;
    background-color: #FF9500;
    border-radius: 0 0 0 29px;
    -webkit-border-radius: 0 0 0 29px;
    -moz-border-radius: 0 0 0 29px;
    -ms-border-radius: 0 0 0 29px;
    -o-border-radius: 0 0 0 29px;
    position: absolute;
    bottom: 2.5px;
    left: 2px;
}

div.screen__buttons__number > button:hover {
    background-color: #d87e00;
}